{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

<h1>{% block title %}{% if obj.dashboard_slug %}Edit{% else %}Add a new{% endif %} Grafana Dashboard{% endblock %}</h1>

{% block form %}
<div class="panel panel-default">
    <div class="panel-body">
        {% render_field form.dashboard_slug %}
        {% render_field form.dashboard_uid %}
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-9 pull-right">
            </div>
        </div>
    </div>
</div>
{% endblock %}
