{# templates/nautobot_plugin_chatops_grafana/dashboards.html #}
{% extends 'base.html' %}

{% block content %}
{% with config=settings.PLUGINS_CONFIG.nautobot_plugin_chatops_grafana %}

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <h1>Dashboards</h1>
    </div>
    <div class="col-sm-5">
        <div class="pull-right noprint">
            <a href="/plugins/nautobot-plugin-chatops-grafana/dashboards/add/" class="btn btn-primary" title="Create a new dashboard">
                <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add
            </a>
            <a  href="{% url 'plugins:nautobot_plugin_chatops_grafana:dashboards_sync' %}"
                class="btn btn-warning" title="Synchronize dashboards from Grafana">
                <span class="mdi mdi-database-sync-outline"></span> Sync
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            {% include 'inc/table.html' %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#dashboard-import").click(function() {
            $("img#refresh-loader").show();

            $.ajax({
                url: "{% url 'plugins-api:nautobot_plugin_chatops_grafana-api:grafana_dashboards' %}",
                method: "PUT",
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                dataType: "json",
                context: this,
                success: function(data) {
                    $("img#refresh-loader").hide();
                    alert("Dashboard Sync Complete!");
                    location.reload();
                },
                error: function(data) {
                    $("img#refresh-loader").hide();
                    alert("Error " + data.status);
                }
            });
        });
    });
</script>
{% endblock %}