{# templates/nautobot_plugin_chatops_grafana/panels.html #}
{% extends 'base.html' %}

{% block content %}
{% with config=settings.PLUGINS_CONFIG.nautobot_plugin_chatops_grafana %}
<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <h1>Panels</h1>
    </div>
    <div class="col-sm-5">
        <div class="pull-right noprint">
            <a href="{% url 'plugins:nautobot_plugin_chatops_grafana:panels_create' %}" class="btn btn-primary">
                <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add
            </a>
            <a  href="{% url 'plugins:nautobot_plugin_chatops_grafana:panels_sync' %}"
                class="btn btn-warning" title="Synchronize panels from Grafana">
                <span class="mdi mdi-database-sync-outline"></span> Sync
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
            {% include 'inc/table.html' %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}