{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

<h1>{% block title %}{% if obj.command_name %}Edit{% else %}Add a new{% endif %} Grafana Dashboard Panel{% endblock %}</h1>

{% block form %}
<div class="panel panel-default">
    <div class="panel-body">
        {% render_field form.dashboard %}
        {% render_field form.command_name %}
        {% render_field form.friendly_name %}
        {% render_field form.panel_id %}
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-9 pull-right">
            </div>
        </div>
    </div>
</div>
{% endblock %}
