{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

<h1>{% block title %}{% if obj.dashboard_slug %}Edit{% else %}Add a new{% endif %} Grafana Dashboard Panel-Variable{% endblock %}</h1>

{% block form %}
<div class="panel panel-default">
    <div class="panel-body">
        {% render_field form.panel %}
        {% render_field form.name %}
        {% render_field form.friendly_name %}
        {% render_field form.query %}
        {% render_field form.includeincmd %}
        {% render_field form.includeinurl %}
        {% render_field form.modelattr %}
        {% render_field form.value %}
        {% render_field form.response %}
        {% render_field form.filter %}
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-9 pull-right">
            </div>
        </div>
    </div>
</div>
{% endblock %}
